@using Microsoft.AspNetCore.Components.Web
@namespace ElancoUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>Your Pet &amp; You Rebates</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/main.js" defer></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <div id="blazor-error-ui">
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
