<section class="header-section">
    <div class="header-container">
        <div class="header-logo">
            <h1>your pets & you</h1>
            <h1>Rebates</h1>
        </div>
        <div class="header-account">
            <div class="header-login">
                <p>Log In</p>
            </div>
        </div>
    </div>
</section>