@page
@model ElancoUI.Pages.ErrorModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="~/css/main.css" />
    <title>Error</title>
</head>
<section class="main-section">
    <div class="main-container">
        <div class="rebate-container">
            <div>
                <h1 style="color: red">Error.</h1>
                <br />
                <p>An error occurred while processing your request.</p>
                <br />
                @if (Model.ShowRequestId)
                {
                    <p>
                        <strong>Request ID:</strong> <code style="color: red">@Model.RequestId</code>
                    </p>
                }
            </div>
            
        </div>
    </div>
</section>