@page
@model ElancoUI.Areas.Identity.Pages.Account.Manage.AddPetModel
@{
    ViewData["Title"] = "Add Pet";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<form id="profile-form" enctype="multipart/form-data" method="post" class="account-contents">
    <h1>Add your pet</h1>
    <div class="account-cards">
        <div class="account-card">
            <div class="account-card-field">
                <div class="form-field">
                    <label asp-for="NewPet.PetName" class="form-label">Pet Name</label>
                    <input asp-for="NewPet.PetName" class="form-control" />
                    <span asp-validation-for="NewPet.PetName" class="validation-message"></span>
                </div>
                <div class="form-field">
                    <label class="form-label">Pet Picture</label>
                </div>
                <input asp-for="NewPet.PetUpload" type="file" class="form-control" />
                <span asp-validation-for="NewPet.PetUpload" class="validation-message"></span>
            </div>
        </div>
    </div>
    <div class="account-save">
        <a asp-page="./Index">Cancel</a>
        <button id="update-profile-button" type="submit">Add pet</button>
    </div>
</form>