@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="auth-section">
    <div class="auth-container">
        <div class="auth-header">
            <img src="~/images/elanco-logo.png" width="100"  height="50" />
            <h2>Forgot your password?</h2>
        </div>
        <form class="auth-card" method="post">
            <div class="form-fields">
                <div class="form-field">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="validation-message"></span>
                </div>
                <div class="form-submit-btn-container">
                    <button type="submit">Reset password</button>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
