@using Microsoft.AspNetCore.Components.Web
@namespace ElancoUI.Shared.Layouts
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>your pets &amp; you Rebates</title>
    <link href="css/main.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <div class="component-container">
        <section class="header-section">
            <div class="header-container">
                <div class="header-logo">
                    <h1>your pet & you</h1>
                    <h1>Rebates</h1>
                </div>
                <div class="header-cta-container">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </section>
        @RenderBody()
    </div>
    <script src="_framework/blazor.server.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
