
<section class="header-section">
    <div class="header-container">
        <div class="header-logo">
            <a href="/">your pet & you</a>
            <a href="/">Rebates</a>
        </div>
        <div class="header-cta-container">
            <LoginComponent />
        </div>
    </div>
</section>