
<section class="header-section">
    <div class="header-container">
        <div class="header-logo">
            <h1>your pet & you</h1>
            <h1>Rebates</h1>
        </div>
        <div class="header-cta-container">
            <LoginComponent />
        </div>
    </div>
</section>