
<section class="header-section">
    <div class="header-container">
        <div class="header-logo">
            <a href="/"><img src="/logo.svg" /></a>
        </div>
        <div class="header-cta-container">
            <LoginComponent />
        </div>
    </div>
</section>